<p>
  <strong>Name:</strong>
  <%= comment.user.name %>
</p>
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<p>
  <span>Like</span>
  <span><%= link_to 'Delete', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></span>
</p>
